.govuk-accordion {
    .govuk-accordion__section {
        &-heading {
            padding-bottom: 0;
            border-top: 2px solid $primary;

            button {
                border: none;
                background: transparent;
                width: 100%;  
                
                &:focus-visible {
                    outline: 3px solid transparent;
                    color: #0b0c0c;
                    background-color: #ffdd00;
                    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
                    text-decoration: none;
                }
            }
        }

        &-button {
            position: relative;
            display: flex;
            align-items: center;
            text-align: left;
            overflow-anchor: none;
            padding: 0;

            &.collapsed {
                &:after {
                    margin-left: auto;
                    color: $primary;
                    content: "+";
                    transition: transform 0.2s ease-in-out;
                }
            }
    
           
            &:after {
                width: 20px;
                margin-left: auto;
                content: "-";
                font-size: 2rem;       
                text-align: center;     
            }
        }
    }

    .accordion-body {
        padding: 15px 0 0 0;

        li {
            color: $body-font;
        }
    }
    
    .accordion-item {
        background-color: transparent;
        border: none;
    }

    .accordion-header {
        cursor: pointer;
    }
}