<div class="govuk-background-senary govuk-intro">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0">
            <div class="govuk-grid-row">
                <div class="govuk-width-flex">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-8 govuk-!-padding-bottom-8">
                        {{ .Content }}
                    </div>
                    <div class="govuk-intro_background govuk-grid-column-one-third">
                        <picture>
                            <img width="100%" height="100%" src="/images/govuk-intro-image.svg" class="attachment-full size-full cover w-100 h-100" alt="United Kingdom" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>