.govuk-body-s,
.govuk-heading-s,
.govuk-heading-l,
.govuk-heading-m,
.govuk-link {
    &.govuk {
        &-senary-text-colour {
            color: $senary;

            &:focus {
                color: #0b0c0c;
            }

            li {
                color: $senary;
            }
        }

        &-white-text-colour {
            color: #fff;
        }
    }
}

.govuk-body-s {
    color: $body-font;
}

h2,
h3,
h4,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-a {
    color: $primary;
}
 
ul {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}