.govuk-header {
    border-bottom: 0;

    &__container {
        border-bottom: none;
    }

    .govuk-width-flex {
        align-items: center;
        justify-content: space-between;
    }

    .govuk-header__navigation-item {
        border: none;
        
        &.active {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.1em;
        }
    }

    .govuk-header__navigation-mobile  {
        ul {
            display: inline-flex;
        }
    }

    .govuk-grid-column-full {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
