.govuk-intro {
    overflow: hidden;

    picture img {
        @include media-breakpoint-up(md) { 
            position: relative;
            top: -10%;
            width: 120% !important;
            height: 120% !important;
        }
    }

    h1 {
        color: #fff;
    }
}
