.govuk-intro {
    overflow: hidden;

    picture img {
        padding-bottom: 30px;

        @include media-breakpoint-up(md) { 
            position: relative;
            top: calc(50% - 40%);
            width: 100% !important;
            height: 80% !important;
            padding: 0;
        }
    }

    h1 {
        color: #fff;
    }

    .govuk-background {
        position: relative;
        background-image: url('/images/govuk-intro-image.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;

        @include media-breakpoint-up(md) { 
            background-size: contain;
        }
    }
}
