<!doctype html>
<html lang="en">
  <head>
    {{ partial "header/head" . }}
  </head>
  <body>
    {{ partial "header/header" . }}
    {{ partial "block/hero_small" . }}
    {{ partial "block/breadcrumbs" . }}

    <div class="govuk-background-default">
      <div class="govuk-width-container">
        <div class="govuk-main-wrapper">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="gov-body-s">This page contains a number of frequently-asked questions and answers about the report of the Commission on Race and Ethnic Disparities. 
              </p>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-accordion accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section accordion-item">
                  <div class="govuk-accordion__section-header accordion-header" id="accordion-default-heading-1">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour" id="accordion-default-heading-1"  data-bs-toggle="collapse" data-bs-target="#accordion-default-content-1" aria-expanded="true" aria-controls="accordion-default-content-1">
                        Who set up the Commission?
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content accordion-collapse collapse show" aria-labelledby="accordion-default-heading-1" data-bs-parent="#accordion-default">
                    <div class="accordion-body">
                      <p class='govuk-body-s'>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>

                <div class="govuk-accordion__section accordion-item">
                  <div class="govuk-accordion__section-header accordion-header" id="accordion-default-heading-2">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-2" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-2" aria-expanded="true" aria-controls="accordion-default-content-2">
                        Why was the Commission set up?
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-2" data-bs-parent="#accordion-default">
                    <div class="accordion-body">
                      <p class='govuk-body-s'>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>

                <div class="govuk-accordion__section accordion-item">
                  <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-3">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-3" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-3" aria-expanded="true" aria-controls="accordion-default-content-3">
                        What were the Commission’s terms of reference?	
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-3" data-bs-parent="#accordion-default"> 
                    <div class="accordion-body">
                      <p class='govuk-body-s'>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>

                <div class="govuk-accordion__section accordion-item">
                  <div class="govuk-accordion__section-header accordion-header" id="accordion-default-heading-4">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-4" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-4" aria-expanded="true" aria-controls="accordion-default-content-4">
                        What research did the Commission use?
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-4" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-4" data-bs-parent="#accordion-default">
                    <div class="accordion-body">
                      <p class='govuk-body-s'>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer/site_footer.html" . }}

  </body>
</html>