<!doctype html>
<html lang="en">
  <head>
    {{ partial "header/head" . }}
  </head>
  <body>
    {{ partial "header/header" . }}
    <main>
      {{ partial "block/hero_small" . }}
      {{ partial "block/breadcrumbs" . }}
      <div class="govuk-background-default">
        <div class="govuk-width-container">
          <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-s">This page contains a number of frequently-asked questions and answers about the report of the Commission on Race and Ethnic Disparities.
                </p>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-accordion accordion" data-module="govuk-accordion" id="accordion-default">
                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-header accordion-header" id="accordion-default-heading-1" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour" id="accordion-default-heading-1"  data-bs-toggle="collapse" data-bs-target="#accordion-default-content-1" aria-expanded="true" aria-controls="accordion-default-content-1">
                          Who set up the Commission?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content accordion-collapse collapse show" aria-labelledby="accordion-default-heading-1" data-bs-parent="#accordion-default">
                      <div class="accordion-body">
                        <p class='govuk-body-s'>The Prime Minister established the Commission in summer 2020 to review inequality in the UK, with a particular focus on education, health, employment and criminal justice.</p>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-header accordion-header" id="accordion-default-heading-2" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-2" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-2" aria-expanded="true" aria-controls="accordion-default-content-2">
                          Why was the Commission set up?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-2" data-bs-parent="#accordion-default">
                      <div class="accordion-body">
                          <p class='govuk-body-s'>The Commission was launched to conduct a detailed, data-led examination of inequality across the entire population.</p>
                          <p class='govuk-body-s'>The report makes an important contribution to the national conversation about race, and is much broader in scope than previous reviews which have examined disparities in specific areas.</p>
                          <p class='govuk-body-s'>The report also examined the causes of ethnic minority success and set out a positive agenda for change where progress needs to be made.</p>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-3" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-3" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-3" aria-expanded="true" aria-controls="accordion-default-content-3">
                          What were the Commission’s terms of reference?	
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-3" data-bs-parent="#accordion-default"> 
                      <div class="accordion-body">
                        <p class='govuk-body-s'>You can see the <a class="govuk-link external-link" href="https://www.gov.uk/government/publications/terms-of-reference-commission-on-race-and-ethnic-disparities" target="_blank">Commission’s terms of reference</a> on GOV.UK.</p>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-header accordion-header" id="accordion-default-heading-4" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-4" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-4" aria-expanded="true" aria-controls="accordion-default-content-4">
                          What research did the Commission use?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-4" data-bs-parent="#accordion-default">
                      <div class="accordion-body">
                        <p class='govuk-body-s'>The Commission took an evidence-led approach using existing and commissioned research.</p>
                        <p class='govuk-body-s'>You can see:</p>
                        <ul class="govuk-body-s">
                          <li>the full list of commissioned research in <a class="govuk-link external-link" href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities/conclusion-and-appendices#appendix-c-commissioned-research" target="_blank">Appendix C of the report</a></li>
                          <li><a lass="govuk-link external-link" href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities-supporting-research" target="_blank">supporting research</a> published on GOV.UK</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-5" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-5" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-5" aria-expanded="true" aria-controls="accordion-default-content-5">
                          Did the report deny the existence of institutional racism?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-5" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-5" data-bs-parent="#accordion-default"> 
                      <div class="accordion-body">
                        <p class='govuk-body-s'>No. The report says the Commission found no conclusive evidence of institutional or structural racism in the specific areas it examined. The report reaffirmed Sir William Macpherson’s definition of the term but argued it should be applied more carefully and always based on evidence.</p>
                        <p class='govuk-body-s'>However, the report did find evidence that outright racism does exist in the UK. It made strong recommendations that the Equalities and Human Rights Commission be given the resources it needs to tackle the issue.</p>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-6" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-6" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-6" aria-expanded="true" aria-controls="accordion-default-content-6">
                          Did the report downplay the history of slavery?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-6" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-6" data-bs-parent="#accordion-default"> 
                      <div class="accordion-body">
                        <p class='govuk-body-s'>The Chair and <a class="govuk-link external-link" href="https://www.gov.uk/government/news/the-commission-on-race-and-ethnic-disparities-statement" target="_blank">Commission issued a statement</a> saying they felt misrepresented on this matter. They stated that any suggestion that they downplayed the history of slavery was absurd and deeply offensive.</p>
                        <p class='govuk-body-s'>The report stated that in the face of the inhumanity of slavery, African people preserved their humanity and culture. The Commission recommended new curriculum resources to better teach this complex history of the people of Britain.</p>
                      </div>
                    </div>
                  </div>   
                  
                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-7" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-7" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-7" aria-expanded="true" aria-controls="accordion-default-content-7">
                          What recommendations did the report make?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-7" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-7" data-bs-parent="#accordion-default"> 
                      <div class="accordion-body">
                        <p class='govuk-body-s'>The Commission made 24 recommendations to change the lives of millions of people for the better across the UK, whatever their ethnic or social background. These included:</p>
                        <ul class="govuk-body-s">
                          <li>
                            establishing a review to investigate and take action to address the underlying issues facing families – the Commission identified this as a significant contributing factor to the experience of disparities
                          </li>
                          <li>
                            using data in a responsible and informed way – this includes developing and publishing a set of ethnicity data standards to improve understanding and information gathering, reducing the opportunity for misunderstanding and misuse
                          </li>
                          <li>
                            stopping the use of aggregated and unhelpful terms such as ‘BAME’, to better focus on understanding disparities and outcomes for specific ethnic groups
                          </li>
                        </ul>
                        <p class='govuk-body-s'>You can see a <a class="govuk-link external-link" href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities/summary-of-recommendations" target="_blank">summary of the 24 recommendations</a> on GOV.UK.</p>
                      </div>
                    </div>
                  </div>   
              
                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-8" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-8" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-8" aria-expanded="true" aria-controls="accordion-default-content-8">
                          Who did the Commission engage with when preparing the report?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-8" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-8" data-bs-parent="#accordion-default"> 
                      <div class="accordion-body">
                        <p class='govuk-body-s'>The Commission met many people and organisations during the course of its work, either to hear evidence or to discuss recommendations. You can see a full <a class="govuk-link external-link" href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities/conclusion-and-appendices#appendix-d-stakeholders" target="_blank">list of stakeholders</a> in Appendix D of the report.</p>
                        <p class='govuk-body-s'>The Commission also issued a <a class="govuk-link external-link" href="https://www.gov.uk/government/consultations/ethnic-disparities-and-inequality-in-the-uk-call-for-evidence" target="_blank">call for evidence</a>. In response, it received 2,329 responses. Of these, nearly 90% were from individuals and academics. 325 responses were received from public and private organisations, ranging from local community groups and charities to national professional bodies and unions. These organisations collectively represent a large and varied cross section of the UK of millions.</p>
                        <p class='govuk-body-s'>You can see a <a class="govuk-link external-link" href="https://www.gov.uk/government/consultations/ethnic-disparities-and-inequality-in-the-uk-call-for-evidence/public-feedback/summary-of-responses-to-the-call-for-evidence" target="_blank">summary of the responses to the call for evidence</a>.</p>
                      </div>
                    </div>
                  </div> 
                  
                  <div class="govuk-accordion__section accordion-item">
                    <div class="govuk-accordion__section-heade accordion-header" id="accordion-default-heading-9" tabindex="0">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button govuk-heading-s govuk-senary-text-colour collapsed" id="accordion-default-heading-9" data-bs-toggle="collapse" data-bs-target="#accordion-default-content-9" aria-expanded="true" aria-controls="accordion-default-content-9">
                          How did the Commission’s work link to previous race reviews such as the Lammy review?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-9" class="govuk-accordion__section-content accordion-collapse collapse" aria-labelledby="accordion-default-heading-9" data-bs-parent="#accordion-default"> 
                      <div class="accordion-body">
                        <p class='govuk-body-s'>The Commission sought to build upon the work of previous reviews, and discussed the findings with each reviewer and officials in the relevant government departments.</p>
                        <p class='govuk-body-s'>The Commission’s mandate was to build on these reviews, and understand why disparities exist.</p>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{ partial "footer/site_footer.html" . }}
  </body>
</html>