<!doctype html>
<html lang="en">
  <head>
    {{ partial "header/head" . }}
  </head>
  <body>
    {{ partial "header/header" . }}
    <main>    
      {{ partial "block/hero_small" . }}
      {{ partial "block/breadcrumbs" . }}
      <div class="govuk-background-default govuk-publications">
        <div class="govuk-width-container">
          <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-width-flex govuk-!-padding-0">
                <div class="govuk-grid-column-one-third govuk-image-container">
                  <picture>
                    <img width="360" height="488" src="/images/govuk-report-1.jpg" class="attachment-full contain" alt="The report of the Commission on Race and Ethnic Disparities" loading="lazy">
                  </picture>
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <h3 class="govuk-heading-m">
                    <a class="govuk-link govuk-link--no-underline govuk-senary-text-colour" href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities" target="_self">
                      The report of the Commission on Race and Ethnic Disparities
                    </a>
                  </h3>
                  <p class="govuk-body-s">The Commission's report was published in March 2021 and set out a new, positive agenda for change. It balances the needs of people, communities and society, maximising opportunities and ensuring fairness for all.
                  </p> 
                  <p class="govuk-body-s">The report considered detailed quantitative data and qualitative evidence to understand why disparities exist, what works and what does not. It included new research and submissions from across the length and breadth of the UK.</p>
                  <a href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities" target="_self" class="govuk-button govuk-button__primary govuk-!-margin-top-2" data-module="govuk-button">
                  Read on GOV.UK
                  </a>    
                  <div class="govuk-!-padding-0 govuk-publications__link-container">
                    <a href="/recommendations" class="govuk-link govuk-!-margin-top-2 govuk-senary-text-colour govuk-!-font-weight-bold d-block" data-module="govuk-link">
                      Explore the recommendations
                    </a>    
                    <a href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities-supporting-research" target="_self" class="govuk-link govuk-!-margin-top-2 govuk-senary-text-colour govuk-!-font-weight-bold d-block" data-module="govuk-link">
                      See supporting research
                    </a>   
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="govuk-background-octonary govuk-publications">
        <div class="govuk-width-container">
          <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-width-flex govuk-!-padding-0">
                <div class="govuk-grid-column-one-third govuk-image-container">
                  <picture>
                    <img width="360" height="488" src="/images/govuk-report-2.jpg" class="attachment-full contain" alt="Big Ben" loading="lazy">
                  </picture>
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <h3 class="govuk-heading-m">
                    <a class="govuk-link govuk-link--no-underline govuk-senary-text-colour" href="https://www.gov.uk/government/publications/inclusive-britain-action-plan-government-response-to-the-commission-on-race-and-ethnic-disparities/inclusive-britain-government-response-to-the-commission-on-race-and-ethnic-disparities" target="_self">
                      Government response to the Commission on Race and Ethnic Disparities
                      </a>
                  </h3>
                  <p class="govuk-body-s">The government's response to the Commission's findings, 'Inclusive Britain', sets out a groundbreaking action plan to tackle negative disparities, promote unity and build a fairer Britain for all.</p> 
                  <p class="govuk-body-s">It is guided by well established evidence, informed by the findings of the independent Commission on Race and Ethnic Disparities, and built on three overarching aims: Trust and fairness, opportunity and agency, and inclusion.</p> 
                  <p class="govuk-body-s">It sets out what the government intends to do to give everybody, from every community, in every corner of the UK, the opportunity to succeed.</p> 
                  <p class="govuk-body-s">The government is grateful to each of the Commissioners for their dedication and for giving up their time without remuneration to examine forensically an issue that matters deeply to people in the UK.</p> 
                  <a href="https://www.gov.uk/government/publications/inclusive-britain-action-plan-government-response-to-the-commission-on-race-and-ethnic-disparities" target="_self" class="govuk-button govuk-button__primary govuk-!-margin-top-2" data-module="govuk-button">
                    Read on GOV.UK
                  </a>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{ partial "footer/site_footer.html" . }}
  </body>
</html>