<div class="govuk-background-default govuk-hero">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-width-flex">
                    <div class="govuk-grid-column-full">
                        <picture>
                            <img width="100%" height="100%" src="/images/gov-hero.jpg" class="attachment-full size-full" alt="Homepage" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>