<div class="govuk-background-senary govuk-intro">
    <div class="govuk-width-container govuk-background">
        <div class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0">
            <div class="govuk-grid-row">
                <div class="govuk-width-flex govuk-!-padding-0">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-8 govuk-!-padding-bottom-8">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>