<div class="govuk-background-default govuk-publications">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-width-flex govuk-!-padding-0">
                    <div class="govuk-grid-column-one-third govuk-image-container">
                        <picture>
                          <img width="360" height="488" src="/images/govuk-report-1.jpg" class="attachment-full contain" alt="The report of the Commission on Race and Ethnic Disparities" loading="lazy">
                        </picture>
                      </div>
                    <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-m">
                            <a class="govuk-link govuk-link--no-underline govuk-senary-text-colour" href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities" target="_self">
                                Government response to the Commission on Race and Ethnic Disparities
                            </a>
                        </h3>
                        <p class="govuk-body-s">The Commission's report was published in March 2021 and set out a new, positive agenda for change. It balances the needs of people, communities and society, maximising opportunities and ensuring fairness for all.
                        </p> 
                        <p class="govuk-body-s">The report considered detailed quantitative data and qualitative evidence to understand why disparities exist, what works and what does not. It included new research and submissions from across the length and breadth of the UK.</p>
                        <a href="https://www.gov.uk/government/publications/the-report-of-the-commission-on-race-and-ethnic-disparities" target="_self" class="govuk-button govuk-button__primary govuk-!-margin-top-2 external-link" data-module="govuk-button">
                        Read on GOV.UK
                        </a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
