<div class="govuk-recommendations govuk-background-octonary">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">  
                <div class="govuk-width-flex govuk-!-padding-0">  
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l">Recommendations</h2>
                    </div>
                </div>
                <div class="govuk-width-flex govuk-!-padding-0 govuk-recommendations__primary-row">
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s">Theme 01
                            <span class="govuk-heading-m">Build trust</span>
                        </h3>
                        <p class="govuk-body-s">Recommendations to help build trust and understanding for people and communities in public services and institutions.</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s">Theme 02
                            <span class="govuk-heading-m">Promote fairness</span>
                        </h3>
                        <p class="govuk-body-s">Recommendations to contribute to fairer practices and improved outcomes for people and communities.</p>
                    </div>
                </div>

                <div class="govuk-width-flex govuk-!-padding-0 govuk-recommendations__secondary-row">
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s">Theme 03
                            <span class="govuk-heading-m">Create agency</span>
                        </h3>

                        <p class="govuk-body-s">Recommendations to create opportunities to empower people to exercise greater control over their lives and make informed choices that lead to better outcomes.</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s">Theme 04
                            <span class="govuk-heading-m">Achieve inclusivity</span>
                        </h3>
                        <p class="govuk-body-s">Recommendations to promote genuine, positive integration between citizens and communities, and to weave the identity and cultures of all communities into everyday life in the UK.</p>
                    </div>
                </div>

                <div class="govuk-width-flex govuk-!-text-align-centre">
                    <div class="govuk-grid-column-full">
                        <a href="/recommendations" class="govuk-button govuk-button__primary govuk-!-margin-top-2" data-module="govuk-button">
                            Read the recommendations
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>