<div class="govuk-recommendations govuk-background-octonary">
    <main class="govuk-width-container">
        <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">  
                <div class="govuk-width-flex govuk-!-padding-0">  
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l">Recommendations</h2>
                    </div>
                </div>
                <div class="govuk-width-flex govuk-!-padding-0">
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s govuk-!-margin-0">Theme 01</h3>
                        <h4 class="govuk-heading-m">Build trust</h4>
                        <p class="govuk-body-s">Recommendations to help build trust and understanding for people and communities in public services and institutions.</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s govuk-!-margin-0">Theme 02</h3>
                        <h4 class="govuk-heading-m">Promote fairness</h4>
                        <p class="govuk-body-s">Recommendations to contribute to fairer practices and improved outcomes for people and communities.f</p>
                    </div>
                </div>

                <div class="govuk-width-flex govuk-!-padding-0">
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s govuk-!-margin-0">Theme 03</h3>
                        <h4 class="govuk-heading-m">Create agency</h4>
                        <p class="govuk-body-s">Recommendations to create opportunities to empower people to exercise greater control over their lives and make informed choices that lead to better outcomes.</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-s govuk-!-margin-0">Theme 04</h3>
                        <h4 class="govuk-heading-m">Achieve inclusivity</h4>
                        <p class="govuk-body-s">Recommendations to promote genuine, positive integration between citizens and communities, and weave in the identity and cultures of all communities into everyday life in the UK.</p>
                    </div>
                </div>

                <div class="govuk-width-flex govuk-!-text-align-centre">
                    <div class="govuk-grid-column-full">
                        <a href="/recommendations" class="govuk-button govuk-button__primary govuk-!-margin-top-2" data-module="govuk-button">
                            Read the recommendations
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>