<div class="govuk-background-default govuk-updates">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper">
            <div class="govuk-grid-row">  
                <h2 class="govuk-heading-l govuk-senary-text-colour">Updates</h2>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                        <h3 class="govuk-heading-s govuk-senary-text-colour">
                            <a class="govuk-link--no-underline" href="#">
                                Speech by the chair of the Commission on Race and Ethnic Disparities, Dr Tony Sewell CBE
                            </a>
                        </h3>
                        <p class="govuk-body-s">Dr Tony Sewell CBE opens a policy Exchange panel debate on the report of the Commission on Race and Ethnic Disparities.</p>
                        <p class="govuk-body-s govuk-senary-text-colour"><time datetime="2022-03-04T16:31:21+00:00" lang="en">4 March 2022</time></p>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                        <h3 class="govuk-heading-s govuk-senary-text-colour">
                            <a class="govuk-link--no-underline" href="#">
                                Speech by the chair of the Commission on Race and Ethnic Disparities, Dr Tony Sewell CBE
                            </a>
                        </h3>
                        <p class="govuk-body-s">Dr Tony Sewell CBE opens a policy Exchange panel debate on the report of the Commission on Race and Ethnic Disparities.</p>
                        <p class="govuk-body-s govuk-senary-text-colour"><time datetime="2022-03-04T16:31:21+00:00" lang="en">4 March 2022</time></p>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                        <h3 class="govuk-heading-s govuk-senary-text-colour">
                            <a class="govuk-link--no-underline" href="#">
                                Speech by the chair of the Commission on Race and Ethnic Disparities, Dr Tony Sewell CBE
                            </a>
                        </h3>
                        <p class="govuk-body-s">Dr Tony Sewell CBE opens a policy Exchange panel debate on the report of the Commission on Race and Ethnic Disparities.</p>
                        <p class="govuk-body-s govuk-senary-text-colour"><time datetime="2022-03-04T16:31:21+00:00" lang="en">4 March 2022</time></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
