<header class="govuk-header govuk-background-primary govuk-!-padding-top-2 govuk-!-padding-bottom-2" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="#" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype">
                <picture>
                    <img width="164" height="68" src="/images/govuk-cred-logo-white.svg" class="attachment-full size-full" alt="Go to the cred.gov.uk homepage" loading="lazy" data-eio="p">
                </picture>   
            </span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</header>